Repository synnaxlabs/synnax, pull requests merged in 2024-09, with the labels that each got.

#807 SY-1156: Add Box Symbol and Adjustable Tank Border Radius
  console/package.json
  pluto/package.json
  pluto/src/button/Button.css
  pluto/src/button/Button.tsx
  pluto/src/button/Icon.tsx
  pluto/src/os/Controls/Mac.tsx
  pluto/src/theming/css.ts
  pluto/src/vis/schematic/Forms.tsx
  pluto/src/vis/schematic/Symbols.tsx
  pluto/src/vis/schematic/primitives/Primitives.tsx
  pluto/src/vis/schematic/registry.ts
Labels: pluto

#810 [HOTFIX] Sy-1174 fix button triggering logic in console
  console/package.json
  pluto/package.json
  pluto/src/vis/button/aether/button.ts
  pluto/src/vis/schematic/Forms.tsx
Labels: hotfix, merge into main

#821 [HOTFIX] SY-1210 OPC scanner task migration
  console/package.json
  console/src/hardware/opc/device/Configure.tsx
  driver/opc/factory.cpp
  synnax/pkg/hardware/task/task_test.go
  synnax/pkg/hardware/task/writer.go
  synnax/pkg/version/VERSION
Labels: hotfix, merge into main, driver

#823 [HOTFIX] SY-1212 set ni device properties to default
  console/package.json
  console/src/hardware/ni/device/Configure.tsx
Labels: hotfix, merge into main, console

#819 SY-1194 Adjust Box Border Radius + Tank & Box Background Color
  pluto/src/color/Picker/Picker.tsx
  pluto/src/vis/schematic/Forms.tsx
  pluto/src/vis/schematic/Symbols.tsx
  pluto/src/vis/schematic/primitives/Primitives.tsx
  pluto/src/vis/schematic/registry.ts
Labels: pluto

#813 SY-1098 Add Ability to Resize Most Schematic Symbols
  docs/site/src/pages/reference/console/schematics.mdx
  pluto/src/input/DragButton.tsx
  pluto/src/pluto/aether/pluto.ts
  pluto/src/vis/light/aether/index.ts
  pluto/src/vis/light/aether/light.ts
  pluto/src/vis/light/index.ts
  pluto/src/vis/light/use.ts
  pluto/src/vis/schematic/Forms.tsx
  pluto/src/vis/schematic/Symbols.tsx
  pluto/src/vis/schematic/primitives/Primitives.css
  pluto/src/vis/schematic/primitives/Primitives.tsx
  pluto/src/vis/schematic/registry.ts
Labels: pluto

#829 SY-1217 schematic edges incorrectly positioned
  console/src-tauri/gen/schemas/windows-schema.json
  console/src/schematic/Schematic.tsx
  pluto/src/vis/diagram/aether/types.ts
  pluto/src/vis/diagram/edge/Edge.css
  pluto/src/vis/diagram/edge/connector/connector.ts
  pluto/src/vis/diagram/util.ts
Labels: console

#837 Sy 1245 fix race condition in auto controller
  alamos/py/pyproject.toml
  alamos/ts/package.json
  client/cpp/framer/streamer.cpp
  client/py/pyproject.toml
  client/py/synnax/control/controller.py
  client/py/synnax/framer/streamer.py
  client/py/tests/test_control.py
  client/py/tests/test_framer.py
  client/py/tests/test_timing.py
  client/ts/package.json
  client/ts/src/framer/streamer.spec.ts
  client/ts/src/framer/streamer.ts
  console/package.json
  drift/package.json
  freighter/py/pyproject.toml
  freighter/ts/package.json
  package.json
  pluto/package.json
  synnax/pkg/api/framer.go
  synnax/pkg/distribution/framer/relay/relay.go
  synnax/pkg/distribution/framer/relay/relay_suite_test.go
  synnax/pkg/distribution/framer/relay/relay_test.go
  synnax/pkg/distribution/framer/relay/streamer.go
  synnax/pkg/distribution/framer/service.go
  synnax/pkg/version/VERSION
  x/ts/package.json
Labels: hotfix, merge into main
