Repository synnaxlabs/synnax, pull requests merged in 2024-11, with the labels that each got.

#893 [HOTFIX] SY-1437 suppress AUTO_IPS_FILE_NOT_FOUND warning
  driver/labjack/scanner.cpp
  driver/labjack/scanner.h
  synnax/pkg/version/VERSION
Labels: hotfix, driver

#897 [HOTFIX] SY-1443 retrieve channel info for writer
  console/package.json
  console/src/hardware/labjack/task/Write.tsx
  driver/labjack/writer.h
  driver/labjack/writer_task.cpp
  synnax/pkg/version/VERSION
Labels: hotfix, console, driver

#904 [HOTFIX] SY 1460 labjack ux improvements
  client/py/examples/ni/analog_read_task.py
  client/py/pyproject.toml
  client/py/synnax/hardware/ni/types.py
  client/py/synnax/ranger/kv.py
  client/py/synnax/util/primitive.py
  client/py/tests/test_ni.py
  client/py/tests/test_ranger.py
  console/package.json
  console/src-tauri/gen/schemas/windows-schema.json
  console/src/hardware/labjack/device/Select.tsx
  console/src/hardware/labjack/device/types.ts
  console/src/hardware/labjack/task/Read.tsx
  console/src/hardware/ni/task/AnalogRead.tsx
  console/src/hardware/task/common/common.css
  console/src/layout/Content.tsx
  console/src/layout/Window.tsx
  console/src/layout/hooks.ts
  console/src/layout/middleware.ts
  console/src/layout/selectors.ts
  console/src/layout/slice.ts
  console/src/layouts/Mosaic.tsx
  console/src/lineplot/LinePlot.tsx
  console/src/middleware.ts
  console/src/range/Toolbar.tsx
  console/src/vis/Canvas.tsx
  drift/package.json
  drift/src/selectors.ts
  driver/labjack/factory.cpp
  driver/labjack/labjack.h
  driver/labjack/reader.h
  driver/labjack/reader_source.cpp
  driver/labjack/reader_task.cpp
  driver/labjack/scanner.cpp
  driver/labjack/scanner.h
  driver/labjack/util.h
  driver/labjack/writer.h
  driver/labjack/writer_sink.cpp
  driver/labjack/writer_task.cpp
  driver/main.cpp
  package.json
  pluto/package.json
  pluto/src/dropdown/Dropdown.tsx
  pluto/src/text/SelectLevel.tsx
  pluto/src/text/core/types.ts
  pluto/src/theming/core/fontString.ts
  pluto/src/theming/font.ts
  pluto/src/vis/draw2d/index.ts
  pluto/src/vis/lineplot/aether/axis.ts
  pluto/src/vis/schematic/Forms.tsx
  pluto/src/vis/schematic/Symbols.tsx
  pluto/src/vis/schematic/primitives/Primitives.css
  pluto/src/vis/schematic/primitives/Primitives.tsx
  pluto/src/vis/schematic/registry.ts
  pluto/src/vis/value/aether/value.ts
  synnax/pkg/version/VERSION
Labels: hotfix, merge into main

#907 SY-1467 Labjack reconnect/disconnect
  driver/labjack/reader_source.cpp
  driver/labjack/util.h
  driver/labjack/writer_sink.cpp
Labels: driver

#908 SY-1205 Improve PR and QA Templates
  .github/PULL_REQUEST_TEMPLATE/issue.md
  .github/PULL_REQUEST_TEMPLATE/rc.md
  .github/pull_request_template.md
Labels: ops

#916 Sy 1403 ni scanner toggle on/off from command palette
  client/ts/src/hardware/task/client.ts
  console/src/hardware/ni/palette.tsx
  console/src/hardware/ni/task/migrations/v1.ts
  console/src/palette/Palette.tsx
  driver/ni/analog_read.cpp
  driver/ni/ni.h
  driver/ni/scanner.cpp
  driver/ni/task.cpp
Labels: console, driver

#924 ops(console): Update `tauri.conf.json` schema
  console/src-tauri/tauri.conf.json
Labels: ops, console

#923 SY-1489 Loading Indicator on Task Toolbar
  client/ts/src/hardware/task/client.ts
  client/ts/src/hardware/task/payload.ts
  console/src/Console.tsx
  console/src/hardware/labjack/device/Select.tsx
  console/src/hardware/labjack/task/Read.tsx
  console/src/hardware/labjack/task/Write.tsx
  console/src/hardware/labjack/task/types.ts
  console/src/hardware/ni/task/AnalogRead.tsx
  console/src/hardware/ni/task/DigitalRead.tsx
  console/src/hardware/ni/task/DigitalWrite.tsx
  console/src/hardware/ni/task/migrations/v1.ts
  console/src/hardware/opc/task/ReadTask.tsx
  console/src/hardware/opc/task/WriteTask.tsx
  console/src/hardware/opc/task/types.ts
  console/src/hardware/task/Selector.tsx
  console/src/hardware/task/Toolbar.css
  console/src/hardware/task/Toolbar.tsx
  console/src/hardware/task/common/useDesiredState.ts
  console/src/hardware/task/external.ts
  console/src/hardware/task/types.tsx
  console/src/layout/Selector.tsx
  console/src/layouts/Selector.tsx
  pluto/src/button/Button.tsx
  pluto/src/button/Icon.tsx
  pluto/src/hooks/index.ts
  pluto/src/hooks/useDelayedState.ts
  pluto/src/status/Circle.tsx
Labels: pluto, ts-client, console

#933 SY-1538 LabJack Task Switch Port When Switching Channel Type
  console/src/hardware/labjack/device/Select.tsx
  console/src/hardware/labjack/task/Read.tsx
  console/src/hardware/labjack/task/Write.tsx
Labels: console

#938 SY-1153 Allow Multiple Read Tasks on a Single OPC UA Server
  client/ts/src/hardware/device/client.ts
  console/src/hardware/opc/device/Configure.tsx
  console/src/hardware/opc/device/SelectNode.tsx
  console/src/hardware/opc/device/SelectSecurityMode.tsx
  console/src/hardware/opc/device/SelectSecurityPolicy.tsx
  console/src/hardware/opc/device/external.ts
  console/src/hardware/opc/device/ontology.tsx
  console/src/hardware/opc/device/palette.tsx
  console/src/hardware/opc/device/types/index.ts
  console/src/hardware/opc/device/types/migrations.spec.ts
  console/src/hardware/opc/device/types/v0.ts
  console/src/hardware/opc/device/types/v1.ts
  console/src/hardware/opc/external.ts
  console/src/hardware/opc/task/Read.tsx
  console/src/hardware/opc/task/Task.css
  console/src/hardware/opc/task/Write.tsx
  console/src/hardware/opc/task/external.ts
  console/src/hardware/opc/task/palette.tsx
  console/src/hardware/opc/task/types/index.ts
  console/src/hardware/opc/task/types/v0.ts
  console/src/hardware/opc/types.ts
Labels: ts-client, console
