Repository synnaxlabs/synnax, pull requests merged in 2024-12, with the labels that each got.

#953 SY 1646 Disable Switch Fields when Variant Is Preview
  pluto/src/input/Switch.tsx
Labels: pluto

#957 SY-1658 Fix Schematic Label Positioning and Remove Snap To Grid
  console/package.json
  pluto/package.json
  pluto/src/text/Editable.css
  pluto/src/text/Editable.tsx
  pluto/src/util/reflow.ts
  pluto/src/vis/diagram/Diagram.tsx
  pluto/src/vis/schematic/Forms.tsx
  pluto/src/vis/schematic/Grid.tsx
  pluto/src/vis/schematic/Symbols.css
  pluto/src/vis/schematic/Symbols.tsx
  pluto/src/vis/schematic/registry.ts
Labels: pluto

#959 SY-1660 Remove Bad Edges and Nodes when Importing Schematics
  console/package.json
  console/src/schematic/migrations/index.ts
  console/src/schematic/migrations/migrations.spec.ts
  console/src/schematic/migrations/v0.ts
  console/src/schematic/migrations/v1.ts
  console/src/schematic/migrations/v2.ts
  console/src/schematic/migrations/v3.ts
Labels: console

#960 SY-1661: Sort Child Ranges in Range Overview by Start Time
  client/ts/src/ranger/client.ts
  console/src/range/overview/ChildRanges.tsx
  console/src/range/overview/Snapshots.tsx
  x/ts/src/telem/telem.ts
Labels: console

#958 SY-1518 Schematic Undo / Redo
  console/src-tauri/bin/.gitkeep
  console/src/hooks/useDispatchEffect.ts
  console/src/hooks/useLoadRemote.ts
  console/src/hooks/useUndoableDispatch.ts
  console/src/lineplot/LinePlot.tsx
  console/src/lineplot/selectors.ts
  console/src/lineplot/slice.ts
  console/src/log/Log.tsx
  console/src/log/selectors.ts
  console/src/schematic/Schematic.tsx
  console/src/schematic/migrations/v0.ts
  console/src/schematic/migrations/v1.ts
  console/src/schematic/migrations/v2.ts
  console/src/schematic/selectors.ts
  console/src/schematic/slice.ts
  console/src/table/Table.tsx
  console/src/table/selectors.ts
  console/src/workspace/hooks.ts
  pluto/src/vis/diagram/Diagram.tsx
  pluto/src/vis/diagram/aether/types.ts
Labels: console

#964 fix(console): Close Version Update Notification when Clicking Snooze
  console/src/notifications/Notifications.tsx
  console/src/version/Updater.tsx
Labels: console

#967 fix(console): remove unneeded label direction in off page reference form
  pluto/src/vis/schematic/Forms.tsx
Labels: pluto

#951 SY-1611 Bring Back Line Plot Annotation Tool
  console/src/lineplot/LinePlot.tsx
  console/src/lineplot/axis.ts
  console/src/lineplot/migrations/v0.ts
  console/src/lineplot/selectors.ts
  console/src/lineplot/slice.ts
  console/src/lineplot/toolbar/Annotations.tsx
  console/src/lineplot/toolbar/Toolbar.tsx
  pluto/src/channel/LinePlot.tsx
  pluto/src/hooks/useClickOutside.ts
  pluto/src/viewport/use.ts
  pluto/src/vis/lineplot/LinePlot.tsx
  pluto/src/vis/lineplot/Viewport.tsx
  pluto/src/vis/rule/Rule.css
  pluto/src/vis/rule/Rule.tsx
  pluto/src/vis/rule/aether/aether.ts
  x/ts/src/spatial/bounds/bounds.spec.ts
  x/ts/src/spatial/bounds/bounds.ts
Labels: console

#971 SY-1691 Copy Link From Task Toolbar
  console/src/hardware/task/Toolbar.tsx
Labels: console

#972 SY-1697: Add Edit Configuration to Task Ontology Context Menu and Remove Snapshots from Task Toolbar
  console/src/hardware/task/Toolbar.tsx
  console/src/hardware/task/ontology.tsx
Labels: console

#980 Disable Editing Channel Lists in Task Snapshot
  client/py/examples/opcua/read_task.py
  console/src/hardware/labjack/task/Read.tsx
  console/src/hardware/labjack/task/Write.tsx
  console/src/hardware/ni/task/AnalogRead.tsx
  console/src/hardware/ni/task/DigitalRead.tsx
  console/src/hardware/ni/task/DigitalWrite.tsx
  console/src/hardware/ni/task/common.tsx
  console/src/hardware/opc/device/Configure.tsx
  console/src/hardware/opc/task/Read.tsx
  console/src/hardware/opc/task/Write.tsx
  console/src/hardware/task/ontology.tsx
  pluto/src/input/Input.css
  pluto/src/select/Button.tsx
Labels: console

#999 SY-1470 Block Variable Length Persisted Channel in Console Channel Creation
  console/src/channel/Create.tsx
  pluto/src/select/DataType.tsx
Labels: console

#1002 Validate OPC UA Read Task Configuration before Configuring
  console/src/hardware/opc/task/Read.tsx
Labels: console

#1001 SY-1586 Allow Renaming Schematic Snapshots from Tab Name
  console/src/schematic/Schematic.tsx
  console/src/schematic/selectors.ts
  console/src/schematic/toolbar/Toolbar.tsx
Labels: console

#993 SY-1310 Block Passing Non-CSV Files to Table Scaling
  console/src/fs/LoadFileContents.tsx
  console/src/hardware/ni/task/ChannelForms.tsx
Labels: console

#998 SY-1178 Add Snapshot to Schematic Toolbar
  console/src/link/Buttons.tsx
  console/src/schematic/external.ts
  console/src/schematic/services/ontology.tsx
  console/src/schematic/toolbar/Toolbar.tsx
  console/src/schematic/useRangeSnapshot.ts
Labels: console

#1000 SY-1509 Add Demo Cluster to Default Clusters and Fix Issues with Copying Local Cluster Link
  console/src/Console.tsx
  console/src/cluster/Connect.tsx
  console/src/cluster/Dropdown.tsx
  console/src/cluster/external.ts
  console/src/cluster/migrations/index.ts
  console/src/cluster/migrations/migrations.spec.ts
  console/src/cluster/migrations/v0.ts
  console/src/cluster/migrations/v1.ts
  console/src/cluster/migrations/v2.ts
  console/src/cluster/selectors.ts
  console/src/cluster/slice.ts
  console/src/cluster/useSyncClusterKey.ts
  console/src/layouts/Main.tsx
  console/src/link/link.tsx
  console/src/store.ts
Labels: console

#992 SY-1635 Remove Orientation Selector from Schematic Switch and Button
  pluto/src/vis/schematic/Forms.tsx
  pluto/src/vis/schematic/SelectOrientation.tsx
  pluto/src/vis/schematic/registry.ts
Labels: pluto

#1008 [client/py] - upgraded to python 3.12
  client/py/poetry.lock
  client/py/pyproject.toml
  client/py/synnax/telem/telem.py
Labels: hotfix, merge into main

#1016 SY-1758 Fix Python Client Examples
  client/py/examples/__init__.py
  client/py/examples/arduino/read_driver.py
  client/py/examples/arduino/read_write_driver.py
  client/py/examples/arduino/write_driver.py
  client/py/examples/basic_read_write.py
  client/py/examples/calculated_channels.py
  client/py/examples/control/__init__.py
  client/py/examples/control/abort/README.md
  client/py/examples/control/abort/abort_sequence.py
  client/py/examples/control/abort/nominal_sequence.py
  client/py/examples/control/abort/simulated_daq.py
  client/py/examples/control/press/README.md
  client/py/examples/control/press/control_sequence.py
  client/py/examples/control/press/simulated_daq.py
  client/py/examples/control/simple_auto.py
  client/py/examples/control/tpc/README.md
  client/py/examples/control/tpc/auto.py
  client/py/examples/control/tpc/auto_analysis.py
  client/py/examples/control/tpc/common.py
  client/py/examples/control/tpc/control_sequence.py
  client/py/examples/control/tpc/img/console-setup.png
  client/py/examples/control/tpc/simulated_daq.py
  client/py/examples/control/tpc/simulated_daq_v2.py
  client/py/examples/control/tpc/threshold_detection.py
  client/py/examples/control/virtual.py
  client/py/examples/create_channels.py
  client/py/examples/create_range.py
  client/py/examples/dev/live_stream.py
  client/py/examples/live_stream.py
  client/py/examples/live_stream_async.py
  client/py/examples/load.py
  client/py/examples/many_domains.py
  client/py/examples/multi-rate-calculated/interpolation.py
  client/py/examples/multi-rate-calculated/simple_average.py
  client/py/examples/multi-rate-calculated/simulated_daq.py
  client/py/examples/ni/__init__.py
  client/py/examples/opcua/read_task.py
  client/py/examples/simulation.py
  client/py/examples/stream_read.py
  client/py/examples/stream_read_async.py
  client/py/examples/stream_write.py
  docs/site/src/pages/reference/control/examples.mdx
  docs/site/src/pages/reference/python-client/examples.mdx
Labels: user docs, py-client

#1023 SY-1787 Prevent Snapshot of Schematics from Toolbar Outside of Workspace
  console/src/schematic/toolbar/Toolbar.tsx
Labels: console
