Repository synnaxlabs/synnax, pull requests merged in 2024-10, with the labels that each got.

#830 SY-1093 Additional Schematic Symbols, SY-975 Fix Nested Button Element in Schematic
  client/py/examples/control/tpc/optimization_auto.py
  console/src/layout/Selector.tsx
  console/src/layout/selectors.ts
  console/src/lineplot/toolbar/Axes.tsx
  console/src/schematic/Schematic.tsx
  console/src/schematic/toolbar/Symbols.tsx
  pluto/src/align/Pack.css
  pluto/src/align/Pack.tsx
  pluto/src/align/Space.css
  pluto/src/button/Button.css
  pluto/src/button/Button.tsx
  pluto/src/button/Icon.tsx
  pluto/src/color/Swatch/Swatch.css
  pluto/src/dropdown/Dropdown.tsx
  pluto/src/input/Input.css
  pluto/src/input/Numeric.tsx
  pluto/src/input/Text.tsx
  pluto/src/input/types.ts
  pluto/src/menu/Item.tsx
  pluto/src/select/Alignment.tsx
  pluto/src/select/external.ts
  pluto/src/status/colors.ts
  pluto/src/tabs/Tabs.css
  pluto/src/telem/control/Chip.tsx
  pluto/src/theming/css.ts
  pluto/src/tooltip/Dialog.css
  pluto/src/vis/diagram/Diagram.css
  pluto/src/vis/diagram/Diagram.tsx
  pluto/src/vis/diagram/aether/types.ts
  pluto/src/vis/schematic/Forms.tsx
  pluto/src/vis/schematic/Labeled.tsx
  pluto/src/vis/schematic/OrientationControl.css
  pluto/src/vis/schematic/SelectOrientation.tsx
  pluto/src/vis/schematic/Symbols.css
  pluto/src/vis/schematic/Symbols.tsx
  pluto/src/vis/schematic/primitives/Primitives.css
  pluto/src/vis/schematic/primitives/Primitives.tsx
  pluto/src/vis/schematic/registry.ts
  pluto/src/vis/value/aether/value.ts
  x/media/src/Icon/index.tsx
Labels: pluto, console

#858 SY-1321: Alphabetize NI Analog Read Types
  console/src/hardware/ni/task/types.ts
Labels: console

#855 SY-1275 Change Channel Deep Linking Line Plot Name
  console/src/channel/services/link.ts
  console/src/link/link.tsx
Labels: console

#854 SY-1281 Change Label Arrow Direction under Line Plot Axes Tab
  console/src/lineplot/toolbar/Axes.tsx
  pluto/src/select/Direction.tsx
Labels: pluto, console

#859 SY-1267 Add Multiple Ranges from Resources Toolbar to Line Plots
  console/src/lineplot/LinePlot.tsx
  console/src/lineplot/selectors.ts
  console/src/range/services/ontology.tsx
  x/ts/src/id/id.ts
  x/ts/src/index.ts
  x/ts/src/strings/index.ts
  x/ts/src/strings/strings.spec.ts
  x/ts/src/strings/strings.ts
Labels: console

#857 SY-946: Open Task from Task Toolbar
  console/src/hardware/task/Toolbar.tsx
Labels: console

#875 [HOTFIX] - OPC UA boolean node support
  driver/opc/dev/server.cpp
  driver/opc/util.h
  synnax/pkg/version/VERSION
Labels: hotfix, merge into main

#860 SY-1288 Load Workspace Before Creating Schematics or Plots
  console/src/lineplot/file.ts
  console/src/schematic/file.ts
  console/src/workspace/ontology.tsx
Labels: console

#877 SY-1249: User Registration and Access Control Documentation
  docs/site/src/pages/reference/console/_nav.tsx
  docs/site/src/pages/reference/console/schematics.mdx
  docs/site/src/pages/reference/console/users.mdx
Labels: merge into main

#876 SY-1385: Block Channel Deletion on Windows
  synnax/pkg/distribution/channel/lease_proxy.go
  synnax/pkg/version/VERSION
Labels: hotfix, merge into main
