Repository synnaxlabs/synnax, pull requests merged in 2024-08, with the labels that each got.

#754 Eislam/sy 1045 hotfix opcua server timeout
  .github/PULL_REQUEST_TEMPLATE/rc.md
  driver/opc/reader.cpp
  driver/opc/reader.h
  driver/opc/util.cpp
Labels: hotfix, merge into main

#753 Sy 1025 cesium server reading incorrect number of samples
  cesium/internal/domain/db.go
  cesium/internal/domain/delete.go
  cesium/internal/domain/file_controller.go
  cesium/internal/domain/file_controller_test.go
  cesium/internal/domain/gc_test.go
  cesium/internal/domain/writer.go
  cesium/internal/unary/iterator.go
  cesium/internal/unary/iterator_test.go
  console/release-spec.json
  integration/run-integration-debug.sh
  integration/tests/benchmark-debug.json
  synnax/pkg/version/VERSION
Labels: merge into main

#763 HOTFIX- SY-960 Fixed Pebble Buffer Modification in Underlying Key-Value Store
  aspen/internal/cluster/cluster.go
  aspen/internal/kv/kv_test.go
  aspen/internal/kv/tx.go
  aspen/internal/kv/version.go
  synnax/pkg/distribution/channel/verification/service.go
  synnax/pkg/distribution/core/mock/core_test.go
  synnax/pkg/distribution/distribution.go
  synnax/pkg/distribution/ontology/relationship.go
  synnax/pkg/version/VERSION
  x/go/gorp/reader.go
  x/go/kv/counter.go
  x/go/kv/kv.go
  x/go/kv/pebblekv/pebblekv.go
  x/go/kv/subscriber_test.go
Labels: hotfix, merge into main

#760 HOTFIX- Sy-1054 gob to msgpack migration
  .gitignore
  aspen/internal/cluster/config.go
  aspen/internal/kv/operation.go
  synnax/pkg/distribution/channel/service.go
  synnax/pkg/distribution/core/core.go
  synnax/pkg/distribution/ontology/group/service.go
  synnax/pkg/version/VERSION
  x/go/binary/codec.go
  x/go/binary/codec_test.go
Labels: hotfix, merge into main, migration support

#761 HOTFIX- SY-1059 fix specific search queries
  synnax/pkg/distribution/ontology/search/analyzer.go
  synnax/pkg/distribution/ontology/search/search.go
  synnax/pkg/distribution/ontology/search/search_test.go
  synnax/pkg/version/VERSION
Labels: hotfix, merge into main

#766 HOTFIX - Eislam/sy 1064 ni scanner touchups
  .github/PULL_REQUEST_TEMPLATE/rc.md
  docs/site/src/pages/reference/device-drivers/ni/get-started.mdx
  driver/ni/BUILD.bazel
  driver/ni/ni.h
  driver/ni/scanner.cpp
  driver/ni/task.cpp
  synnax/pkg/version/VERSION
Labels: merge into main

#762 HOTFIX - SY-1057 revert access control setting
  client/py/tests/test_access.py
  client/ts/src/access/access.spec.ts
  synnax/cmd/start.go
  synnax/pkg/access/allow_all.go
  synnax/pkg/api/access.go
  synnax/pkg/api/api.go
  synnax/pkg/api/mock/mock.go
  synnax/pkg/api/provider.go
  synnax/pkg/version/VERSION
Labels: do not merge, hotfix, merge into main, migration support

#768 Sy 1067 upgrade package versions
  client/ts/api/client.api.md
  client/ts/package.json
  console/package.json
  console/src-tauri/Cargo.lock
  console/src-tauri/Cargo.toml
  console/src-tauri/capabilities/migrated.json
  console/src-tauri/gen/schemas/acl-manifests.json
  console/src-tauri/gen/schemas/capabilities.json
  console/src-tauri/gen/schemas/desktop-schema.json
  console/src-tauri/gen/schemas/macOS-schema.json
  console/src/error/Overlay.tsx
  console/src/layout/Window.tsx
  console/src/layout/hooks.ts
  console/src/persist/state.ts
  drift/package.json
  drift/src/tauri/index.ts
  freighter/ts/package.json
  go.work.sum
  package.json
  pluto/package.json
  pluto/src/mock/MockGLBufferController.ts
  pluto/src/testutil/dom.ts
  pnpm-lock.yaml
  synnax/go.mod
  synnax/go.sum
  x/go/go.mod
  x/go/go.sum
  x/ts/src/mock/MockGLBufferController.ts
Labels: ts-client

#776 Sy 1085 v27 server fix bad bootup from prev version
  cesium/control.go
  cesium/internal/unary/db.go
  cesium/internal/unary/delete.go
  cesium/internal/unary/open.go
  cesium/internal/unary/writer.go
  cesium/internal/virtual/db.go
  cesium/internal/virtual/writer.go
  cesium/open.go
  freighter/go/fhttp/router.go
  freighter/go/fhttp/stream.go
Labels: hotfix, migration support

#779 Sy 1092 adjust range link handler
  console/src/range/services/link.tsx
Labels: console

#782 [console] - fixed virtual channel create more bug
  .github/PULL_REQUEST_TEMPLATE/rc.md
  console/package.json
  console/src/channel/Create.tsx
Labels: merge into main

#784 [HOTFIX] - Eislam/hotfix looped failed ni device creation
  driver/ni/scanner.cpp
  synnax/pkg/version/VERSION
Labels: hotfix, merge into main

#786 Sy 1117 force bazel to not cache test results for cpp client test
  .github/workflows/test.client.yaml
Labels: ops, merge into main
