Repository synnaxlabs/synnax, pull requests merged in 2025-01, with the labels that each got.

#1047 SY-1761: Fix Delete Column on Table Cell
  console/src/table/Table.css
  console/src/table/Table.tsx
  console/src/table/Toolbar.tsx
  console/src/table/external.ts
  console/src/table/index.ts
  console/src/table/migrations/index.ts
  console/src/table/migrations/v0.ts
  console/src/table/selectors.ts
  console/src/table/slice.ts
Labels: console

#1051 SY-1823 Add Deprecation Warning to `synnax` and `synnaxkit` Python CLI Names
  client/py/pyproject.toml
  client/py/synnax/cli/ingest.py
  client/py/synnax/cli/login.py
  client/py/synnax/cli/ts_convert.py
  client/py/synnax/cli/warning.py
  docs/site/src/pages/guides/analyst/exploratory-analysis-in-python.mdx
  docs/site/src/pages/reference/python-client/get-started.mdx
Labels: py-client

#1055 SY-1835 Fix Duplicated Items in Resources Tree
  client/ts/src/framer/frame.ts
  console/src/hardware/ni/task/AnalogRead.tsx
  console/src/layouts/GetStarted.tsx
  console/src/lineplot/LinePlot.tsx
  console/src/lineplot/download.ts
  console/src/lineplot/slice.ts
  console/src/ontology/ContextMenu.tsx
  console/src/ontology/Tree.tsx
  console/src/ontology/builtin/ontology.tsx
  console/src/ontology/hooks.ts
  console/src/range/overview/Labels.tsx
  console/src/workspace/Create.tsx
  console/src/workspace/Selector.tsx
  console/src/workspace/services/palette.tsx
  drift/src/sync.ts
  pluto/src/channel/Select.tsx
  pluto/src/label/Select.tsx
  pluto/src/list/useSelect.ts
  pluto/src/menu/ContextMenu.tsx
  pluto/src/ranger/Select.tsx
  pluto/src/telem/control/Legend.tsx
  pluto/src/telem/control/aether/state.ts
  pluto/src/tree/Tree.tsx
  pluto/src/tree/core.ts
  pluto/src/triggers/hooks.tsx
  x/ts/src/compare/compare.ts
  x/ts/src/unique/index.ts
  x/ts/src/unique/unique.spec.ts
  x/ts/src/unique/unique.ts
  x/ts/vite.config.ts
Labels: pluto, console

#1058 Sy 1844 fix cesium garbage collection
  .github/workflows/test.migration.yaml
  cesium/internal/domain/file_controller.go
  cesium/internal/domain/gc_test.go
  synnax/pkg/version/VERSION
Labels: hotfix, merge into main

#1072 SY-1919 Fix DOM Warnings
  pluto/src/button/Icon.tsx
  pluto/src/vis/schematic/primitives/Primitives.tsx
  pluto/src/vis/schematic/registry.ts
Labels: pluto
