Repository synnaxlabs/synnax, pull requests merged in 2025-03, with the labels that each got.

#1124 SY-2098 Show Port Alias Instead of Port for LabJack DIO Ports
  console/src/hardware/labjack/device/SelectPort.tsx
  console/src/hardware/labjack/device/types.ts
  console/src/hardware/labjack/task/Read.tsx
Labels: console

#1130 Minor Task Touchups
  console/src/hardware/common/task/Task.tsx
  console/src/hardware/labjack/task/Read.tsx
  console/src/hardware/ni/task/AnalogWrite.tsx
  console/src/hardware/opc/device/Connect.tsx
Labels: console

#1128 Fix Workspaces Failing to Save Visualizations from bad UUIDs
  console/src/layouts/GetStarted.tsx
  console/src/layouts/Mosaic.tsx
  console/src/layouts/Selector.tsx
  console/src/lineplot/layout.ts
  console/src/lineplot/services/palette.tsx
  console/src/log/Log.tsx
  console/src/log/services/palette.tsx
  console/src/schematic/Schematic.tsx
  console/src/schematic/services/palette.tsx
  console/src/selector/Selector.tsx
  console/src/table/Table.tsx
  console/src/table/services/palette.tsx
  console/src/vis/Selector.tsx
  console/src/vis/Toolbar.tsx
Labels: console

#1127 SY-2115: Fix Virtual Channel Bug
  .github/workflows/deploy.synnax.yaml
  synnax/pkg/distribution/channel/channel.go
  synnax/pkg/distribution/channel/channel_suite_test.go
  synnax/pkg/distribution/channel/counter.go
  synnax/pkg/distribution/channel/create_test.go
  synnax/pkg/distribution/channel/delete_test.go
  synnax/pkg/distribution/channel/lease_proxy.go
  synnax/pkg/distribution/channel/ontology.go
  synnax/pkg/distribution/channel/ontology_test.go
  synnax/pkg/distribution/channel/rename_test.go
  synnax/pkg/distribution/channel/retrieve.go
  synnax/pkg/distribution/channel/retrieve_test.go
  synnax/pkg/distribution/channel/service.go
  synnax/pkg/distribution/channel/transport.go
  synnax/pkg/version/VERSION
  x/go/set/integer.go
  x/go/set/integer_test.go
Labels: server

#1123 SY 2058 Fix `useDesiredState` and pausing / playing tasks
  client/ts/src/hardware/task/client.ts
  client/ts/src/hardware/task/payload.ts
  console/src-tauri/Cargo.lock
  console/src/code/lua/lsp.ts
  console/src/hardware/common/task/Controls.tsx
  console/src/hardware/common/task/Form.tsx
  console/src/hardware/common/task/external.ts
  console/src/hardware/common/task/shouldExecuteCommand.ts
  console/src/hardware/common/task/types.ts
  console/src/hardware/common/task/useState.ts
  console/src/hardware/external.ts
  console/src/hardware/labjack/task/Write.tsx
  console/src/hardware/ni/task/DigitalChannelList.tsx
  console/src/hardware/opc/task/Form.tsx
  console/src/hardware/task/Toolbar.tsx
  console/src/hardware/task/external.ts
  console/src/hardware/task/sequence/Sequence.tsx
  console/src/range/Toolbar.tsx
Labels: console

#1114 SY-2096 - Raise Error on Calls to Set With Empty `write_to` field
  driver/sequence/plugins/channel_write.cpp
  driver/sequence/plugins/channel_write_test.cpp
  driver/sequence/plugins/plugins.h
Labels: driver

#1134 SY-2121: Fix TypeScript Hardware Client Encoders / Decoders
  client/ts/src/hardware/device/device.spec.ts
  client/ts/src/hardware/device/payload.ts
  client/ts/src/hardware/rack/payload.ts
  client/ts/src/hardware/task/client.ts
  client/ts/src/hardware/task/payload.ts
  client/ts/src/hardware/task/task.spec.ts
  client/ts/src/util/decodeJSONString.ts
  console/src/hardware/ni/task/palette.tsx
  console/src/hardware/ni/task/types/index.ts
  console/src/hardware/ni/task/types/v0.ts
  console/src/hardware/opc/task/types.ts
  pluto/src/form/Form.tsx
  x/ts/src/index.ts
  x/ts/src/telem/series.ts
  x/ts/src/zod/external.ts
  x/ts/src/zod/index.ts
  x/ts/src/zod/integer.spec.ts
  x/ts/src/zod/integer.ts
  x/ts/src/zod/util.spec.ts
  x/ts/src/zod/util.ts
  x/ts/vite.config.ts
Labels: ts-client

#1144 Fix LabJack T4 Ports
  client/py/examples/dev/create_device.py
  console/src/hardware/labjack/device/SelectPort.tsx
  console/src/hardware/labjack/device/types.ts
  console/src/hardware/labjack/task/OutputChannelForms.tsx
  console/src/hardware/labjack/task/Read.tsx
  console/src/hardware/labjack/task/Write.tsx
  console/src/hardware/labjack/task/getOpenPort.spec.ts
  console/src/hardware/labjack/task/getOpenPort.ts
Labels: console

#1148 SY-2180 - Fix NI Scan Task Ignore
  driver/ni/BUILD.bazel
  driver/ni/scan_task.cpp
  driver/ni/scan_task.h
  driver/ni/scan_task_test.cpp
Labels: driver

#1142 SY 2129 Fix BigInt Setpoints, Better Communicate Setpoint Errors, and Make Window Default Hidden
  client/ts/src/framer/adapter.spec.ts
  console/src-tauri/tauri.conf.json
  console/vite.config.ts
  pluto/src/status/Aggregator.tsx
  pluto/src/status/aether/aggregator.ts
  pluto/src/vis/setpoint/aether/setpoint.ts
  x/ts/src/telem/series.spec.ts
  x/ts/src/telem/series.ts
Labels: console

#1143 SY-2155 - Bound Schematic Control Authority Selector
  client/ts/src/framer/writer.ts
  console/src/schematic/toolbar/Control.tsx
  pluto/src/telem/control/Chip.tsx
  pluto/src/telem/control/aether/chip.ts
  pluto/src/telem/control/aether/controller.ts
  x/ts/src/control/control.ts
Labels: console

#1158 SY-1955: Fix Opening Tasks from Context Menu
  console/src/hardware/task/layouts.ts
  console/src/hardware/task/ontology.tsx
Labels: console

#1146 SY-2179 - Fix Shutdown Panic: Missing Cancel Error
  freighter/go/fhttp/stream.go
  freighter/go/fhttp/unary.go
  freighter/go/fmock/unary.go
  synnax/pkg/service/hardware/embedded/enabled.go
Labels: server

#1149 SY-2181 - Python Client Better Communication of Writer Errors
  client/py/examples/arduino/read_driver.py
  client/py/examples/arduino/read_write_driver.py
  client/py/examples/calculated_channels.py
  client/py/examples/control/abort/simulated_daq.py
  client/py/examples/control/press/simulated_daq.py
  client/py/examples/control/tpc/simulated_daq.py
  client/py/examples/dev/calc_channel_stress.py
  client/py/examples/dev/multi_stream.py
  client/py/examples/multi-rate-calculated/interpolation.py
  client/py/examples/multi-rate-calculated/simple_average.py
  client/py/examples/multi-rate-calculated/simulated_daq.py
  client/py/examples/simulation.py
  client/py/examples/stream_write.py
  client/py/pyproject.toml
  client/py/synnax/cli/ts_convert.py
  client/py/synnax/framer/writer.py
  client/py/tests/test_framer.py
  docs/site/src/pages/reference/python-client/write-data.mdx
  freighter/py/freighter/stream.py
Labels: py-client

#1159 SY-2175: Fix User Permissions Dialog
  console/src/permissions/Edit.tsx
  console/src/user/services/ontology.tsx
Labels: console

#1163 SY-2157: Remove Max Voltage Field from LabJack Read Task Thermocouple Channels
  console/src/hardware/labjack/task/InputChannelForms.tsx
  console/src/hardware/labjack/task/Read.tsx
  console/src/hardware/labjack/task/types.ts
Labels: console

#1161 SY-2160: Add Duplicate Channels to Task Channel List Context Menu
  console/src/hardware/common/task/ChannelList.tsx
  console/src/hardware/common/task/layouts/ChannelList.tsx
  console/src/hardware/common/task/layouts/ListAndDetails.tsx
Labels: console

#1168 SY-2192: Fix Bad Event Listener Cleanup
  console/src/Console.tsx
  pluto/src/index.ts
  pluto/src/input/DragButton.tsx
Labels: pluto, console

#1167 SY-2153 Fix Blank Task Status Message, SY-2163 Fix Sequence Flashing, SY-2171 Update Status Colors on Task Toolbar
  client/ts/src/hardware/task/client.ts
  console/src/hardware/common/task/Controls.tsx
  console/src/hardware/common/task/Form.tsx
  console/src/hardware/common/task/ParentRangeButton.tsx
  console/src/hardware/common/task/Task.tsx
  console/src/hardware/common/task/useCreate.ts
  console/src/hardware/common/task/useState.ts
  console/src/hardware/task/Toolbar.tsx
  console/src/hardware/task/sequence/Sequence.tsx
  pluto/src/observe/use.ts
Labels: console

#1174 SY-2206: Fix OPC UA Read Task channel renaming
  console/package.json
  console/src/hardware/opc/task/Read.tsx
Labels: console

#1176 SY-2226: Fix Unique Port Validation in NI Analog Input Task
  console/package.json
  console/src/hardware/ni/task/types/types.spec.ts
  console/src/hardware/ni/task/types/v0.ts
  console/src/hardware/ni/task/types/v1.ts
Labels: hotfix, merge into main, console

#1178 SY-2229: Fixed Null Rack in OPC Connect & Color Swatch D&D
  console/package.json
  console/src/hardware/opc/device/Connect.tsx
  pluto/package.json
  pluto/src/color/Swatch.tsx
Labels: pluto, merge into main, console

#1191 Add rack name to device selection list
  pluto/src/hardware/device/Select.tsx
Labels: pluto

#1199 Add set_authority to control sequence editor global variables
  console/src/hardware/task/sequence/globals.ts
Labels: console
