Repository synnaxlabs/synnax, pull requests merged in 2025-02, with the labels that each got.

#1076 Calculated Channels Docs
  client/py/synnax/channel/client.py
  client/ts/src/channel/client.ts
  docs/site/src/pages/guides/get-started/installation.mdx
  docs/site/src/pages/reference/concepts/channels.mdx
  docs/site/src/pages/reference/console/_nav.tsx
  docs/site/src/pages/reference/console/calculated-channels.mdx
  docs/site/src/pages/reference/console/channels.mdx
  docs/site/src/pages/reference/console/workspaces.mdx
  synnax/pkg/distribution/channel/channel.go
Labels: user docs

#1079 SY-1893 - Add Export Workspace Command to Command Palette
  console/src/palette/Palette.tsx
  console/src/palette/command.tsx
  console/src/workspace/export.ts
  console/src/workspace/services/palette.tsx
Labels: console

#1121 SY-2049 - Fix Labjack Port Override
  console/src/hardware/labjack/task/Read.tsx
Labels: console

#1118 SY-2100 - Make Sure Geist Mono Gets Correctly Imported into Windows Text Editor
  console/src/code/Editor.css
  pluto/src/theming/index.ts
Labels: pluto, console

#1120 SY-2101 - Fix Range Layout Not Found On Delete
  client/ts/src/hardware/rack/client.ts
  console/package.json
  console/src/cluster/Connect.tsx
  console/src/code/init/initialize.ts
  console/src/fs/LoadFileContents.tsx
  console/src/hardware/common/task/ChannelList.tsx
  console/src/hardware/common/task/Form.tsx
  console/src/hardware/common/task/layouts/List.tsx
  console/src/hardware/common/task/layouts/ListAndDetails.tsx
  console/src/hardware/common/task/useCreate.ts
  console/src/hardware/labjack/task/Read.tsx
  console/src/hardware/labjack/task/Write.tsx
  console/src/hardware/ni/task/AnalogRead.tsx
  console/src/hardware/ni/task/AnalogWrite.tsx
  console/src/hardware/ni/task/DigitalChannelList.tsx
  console/src/hardware/ni/task/DigitalRead.tsx
  console/src/hardware/ni/task/DigitalWrite.tsx
  console/src/hardware/ni/task/MinMaxValueFields.tsx
  console/src/hardware/opc/device/Browser.css
  console/src/hardware/opc/device/Browser.tsx
  console/src/hardware/opc/device/Connect.tsx
  console/src/hardware/opc/task/Form.css
  console/src/hardware/opc/task/Form.tsx
  console/src/hardware/opc/task/Read.tsx
  console/src/hardware/opc/task/Write.tsx
  console/src/index.css
  console/src/layout/hooks.spec.tsx
  console/src/layout/useDropOutside.ts
  console/src/layout/useRemover.ts
  console/src/lineplot/SelectAxis.tsx
  console/src/lineplot/toolbar/Data.tsx
  console/src/modals/Base.tsx
  console/src/ontology/Tree.tsx
  console/src/range/Select.tsx
  console/src/store.ts
  console/vite.config.ts
  pluto/src/channel/AliasProvider.tsx
  pluto/src/form/Form.tsx
  pluto/src/form/synced.ts
  pluto/src/input/Item.tsx
  pluto/src/input/Switch.css
  pluto/src/list/Search.tsx
  pluto/src/status/Aggregator.spec.tsx
  pluto/src/status/Aggregator.tsx
  pluto/src/status/Notification.tsx
  pluto/src/status/aether/aggregator.ts
  pluto/src/util/renderProp.tsx
  pluto/vite.config.ts
  pnpm-lock.yaml
  synnax/pkg/api/hardware.go
  synnax/pkg/service/auth/token/token_test.go
  synnax/pkg/service/hardware/task/retrieve.go
Labels: pluto, console

#1119 SY-1951 - Implement Proper Tests & Handling of Expired Tokens
  client/cpp/auth/auth.h
  client/cpp/auth/auth_test.cpp
  client/cpp/synnax.h
  client/py/synnax/__init__.py
  client/py/synnax/auth.py
  client/py/synnax/exceptions.py
  client/py/synnax/synnax.py
  client/py/tests/test_auth.py
  client/ts/src/auth/auth.spec.ts
  client/ts/src/auth/auth.ts
  client/ts/src/errors.ts
  freighter/cpp/mock/mock.h
  freighter/py/freighter/mock.py
  synnax/cmd/start.go
  synnax/pkg/service/auth/auth_test.go
  synnax/pkg/service/auth/errors.go
  synnax/pkg/service/auth/token/token.go
  synnax/pkg/service/auth/token/token_test.go
  x/cpp/xerrors/errors_test.cpp
Labels: server, cpp-client
