Repository synnaxlabs/synnax, pull requests merged in 2025-04, with the labels that each got.

#1201 Trigger unmount / mount of table toolbar for different cells.
  console/src/table/Toolbar.tsx
Labels: console

#1202 Remove internal channels from control sequence autocomplete
  console/src/code/useSuggestChannels.tsx
  console/src/isDev.ts
  console/src/log/Toolbar.tsx
  console/src/store.ts
Labels: console

#1205 SY-2313: Version 0.40.0 Release Notes
  docs/site/src/pages/releases/0-40-0.mdx
  docs/site/src/pages/releases/index.mdx
Labels: merge into main

#1206 SY-2231: Fix Channel Validation Bug
  synnax/pkg/distribution/channel/verification/service.go
  synnax/pkg/distribution/channel/verification/verification.go
  synnax/pkg/version/VERSION
Labels: hotfix, merge into main

#1212 SY-2329: Display Channel Names in NI Analog Tasks
  console/src/hardware/common/task/ChannelName.tsx
  console/src/hardware/common/task/Form.css
  console/src/hardware/common/task/layouts/ListAndDetailsChannelItem.tsx
  console/src/hardware/ni/task/AnalogRead.tsx
  console/src/hardware/ni/task/AnalogWrite.tsx
  console/src/hardware/ni/task/SelectAIChannelTypeField.tsx
  console/src/hardware/ni/task/SelectAOChannelTypeField.tsx
  console/src/hardware/ni/task/types/index.ts
  console/src/hardware/ni/task/types/v0.tsx
  pluto/src/button/Button.css
  pluto/src/hardware/device/Select.tsx
  pluto/src/theming/core/theme.ts
  x/media/src/Icon/Icon.css
  x/media/src/Icon/index.tsx
Labels: console

#1222 SY-2265: Minor Improvements to Task Styling
  console/src/hardware/common/device/Configure.tsx
  console/src/hardware/common/device/Select.tsx
  console/src/hardware/labjack/task/Read.tsx
  console/src/hardware/ni/device/PortField.tsx
  console/src/hardware/ni/device/Select.tsx
  console/src/hardware/ni/task/AIChannelForm.tsx
  console/src/hardware/ni/task/AnalogWrite.tsx
  console/src/hardware/ni/task/DigitalRead.tsx
  console/src/hardware/opc/task/Read.tsx
Labels: console

#1221 SY-2249 Add Renaming Channels through Task Configuration
  console/src/hardware/common/task/ChannelList.tsx
  console/src/hardware/common/task/ChannelName.tsx
  console/src/hardware/common/task/Form.css
  console/src/hardware/common/task/ReadChannelContextMenuItem.tsx
  console/src/hardware/common/task/WriteChannelContextMenuItems.tsx
  console/src/hardware/common/task/WriteChannelNames.tsx
  console/src/hardware/common/task/external.ts
  console/src/hardware/common/task/getChannelNameID.spec.ts
  console/src/hardware/common/task/getChannelNameID.ts
  console/src/hardware/common/task/layouts/List.tsx
  console/src/hardware/common/task/layouts/ListAndDetails.tsx
  console/src/hardware/common/task/layouts/ListAndDetailsChannelItem.tsx
  console/src/hardware/common/task/types.ts
  console/src/hardware/labjack/task/Read.tsx
  console/src/hardware/labjack/task/Write.tsx
  console/src/hardware/ni/task/AnalogRead.tsx
  console/src/hardware/ni/task/AnalogWrite.tsx
  console/src/hardware/ni/task/DigitalChannelList.css
  console/src/hardware/ni/task/DigitalChannelList.tsx
  console/src/hardware/ni/task/DigitalRead.tsx
  console/src/hardware/ni/task/DigitalWrite.tsx
  console/src/hardware/ni/task/SelectAIChannelTypeField.tsx
  console/src/hardware/ni/task/createChannel.spec.ts
  console/src/hardware/ni/task/createChannel.ts
  console/src/hardware/ni/task/types/v0.tsx
  console/src/hardware/opc/device/Browser.tsx
  console/src/hardware/opc/task/Form.tsx
  console/src/hardware/opc/task/Read.tsx
  console/src/hardware/opc/task/Write.tsx
  console/src/hardware/opc/task/types.spec.ts
  console/src/hardware/opc/task/types.ts
Labels: console
